<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<style>
    .center {
        margin: auto;
        width: 60%;
        border: 3px solid #DB1792;
        padding: 10px;
    }
</style>
 
<body style="color: #DB1792; background-color: mintcream">
    <center>
        <p><p><p>

                  <form method=POST action=result>{% csrf_token %}
                      <br><br><br>

                      <b>ROLL NUMBER</b><br>
                      <input type=text name=roll><br><p>
                          <select name="dropdown1">
                              <option value="ps">Practice school</option>
                              <option value="ts">Thesis</option>
                          </select>
                          <input type="submit" value="SUBMIT">
                  </form>
    </center>
</body>

</html>